/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

nav {
  width: 100%;
  background-color: #007BFF;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
  color: #ffffff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

section {
  background-color: #fff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#chatFeature {
  width: 90%;
  max-width: 800px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
}

#chatFeature div {
  margin-bottom: 15px;
}

#nicknameInput,
#roomNameInput,
#messageInput {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
}

button:hover {
  background-color: #0056b3;
}

#roomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#roomList {
  flex-grow: 1;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

#chat {
  height: 400px;
  width: 90%;
  max-width: 800px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  margin-top: 20px;
  box-sizing: border-box;
}

.message {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.system-message {
  font-style: italic;
  color: #888;
}

#chatRoom {
  width: 90%;
  max-width: 800px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}

#chatRoom input {
  flex-grow: 1;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

#chatRoom button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
}

#chatRoom button:hover {
  background-color: #0056b3;
}

/* token styles */
#loginButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#loginButton:hover {
  background-color: #218838;
}

#metaData {
  display: none;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tokenSection {
  margin-bottom: 20px;
}

.tokenSection p {
  font-size: 18px;
  margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.accountAddress {
  word-break: break-all;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#newWallet {
  display: none;
  text-align: center;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#newWallet h3 {
  color: #dc3545;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  width: 100%;
  margin-top: auto; /* This ensures the footer is pushed to the bottom */
}

.footer-section h3 {
  border-bottom: 2px solid #777;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 600px) {
  nav a {
    font-size: 16px;
  }

  #chatFeature, #chat, #chatRoom {
    width: 100%;
    padding: 10px;
  }

  #nicknameInput, #roomNameInput, #messageInput, #roomList, button {
    font-size: 14px;
    padding: 8px;
  }
}
