#chat {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #000;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
}
.message {
  margin-bottom: 10px;
}
.system-message {
  font-style: italic;
  color: gray;
}
#chatFeature {
  max-width: 600px;
  margin: 0 auto;
}
input, button {
  width: calc(100% - 20px);
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}
#emojiPickerContainer {
  position: absolute;
  bottom: 60px; /* Adjust based on your layout */
  right: 20px;  /* Adjust based on your layout */
  z-index: 1000;
  display: none; /* Initially hidden */
}
#emojiPickerContainer.hidden {
  display: none;
}
#toggleEmojiPickerButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  font-size: 24px;
}
